.User-background{
    transition: 1.5s;
    background-size: cover;
    min-height: 90.88vh;
    width: 100%;
    position: relative;
    animation: slideInLeft 1.5s alternate;
    background-repeat: repeat-y;
    background-color:rgb(0, 0, 0);

}
#User-opacity{
    animation: none;
    transition: none;
}

@keyframes slideInLeft {
    from{
        left:100%;
    }
    to{
     left: 0%;
    }
}

.user-home-image{
    user-select: none;
    margin-top: 26.15vh;
    margin-left:29.46vw;
    margin-right: 20vw;
    width: 50vw;
}